body {
  width:100%;
  text-align:center;
  margin:auto;
  background-image:url('batman.jpg');
  background-repeat:repeat;
  font-family:'Trebuchet MS';
  color:white;
}
table {
  text-align:center;
  margin-left:41%;
  margin-top:10%;
}
td, th{
  background-color:rgba(255, 0, 0, 0.8);
  border:1px solid black;
  width:70px;
  height:70px;
}
th{
  background-color:blue;
  opacity:0.8;
}
tfoot tr td{
  background-color:green;
  opacity:0.8;
}
